// Colors

$main-color-light: #F1E4E6;
$main-color: #F16D7F;
$main-color-dark: #E05C6E;
$pagination-color:#EBEBEB;
$filter-color: #6F6E6E;
$beige: #F8F8F8;
$black: #000000;


// font-weigh

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;
